[color]
	ui = auto
[user]
	name = Andy Rae
	email = hello@rae.li
[alias]
	ac = !git add -A && git commit -m
[core]
	editor = nano
	excludesfile = /Users/ar/.gitignore_global
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait --merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    trustExitCode = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff "$LOCAL" "$REMOTE"
